#include <windows.h>
#include "resource.h"

1 RT_MANIFEST "Application.manifest"

1 VERSIONINFO
FILEVERSION     0,0,0,1
PRODUCTVERSION  0,0,0,1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "SketchyCo"
      VALUE "FileDescription", "An application for Windows."
      VALUE "FileVersion", "0.001"
      VALUE "InternalName", "window_test"
      VALUE "LegalCopyright", "Jason Li"
      VALUE "OriginalFilename", "window_test.exe"
      VALUE "ProductName", "TrashApp"
      VALUE "ProductVersion", "0.001"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END

IDI_MYEXEICON ICON "exeicons.ico"

IDI_MYICON ICON "icons.ico"

IDR_MYMENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&About", ID_FILE_ABOUT
		MENUITEM "E&xit", ID_FILE_EXIT
	END
	
	POPUP "&Junk"
	BEGIN
		MENUITEM "&Go", ID_STUFF_GO
		MENUITEM "&Unclickable", 0, GRAYED
	END
	
	POPUP "&Toolbox"
	BEGIN
		MENUITEM "&Show", ID_TOOLBOX_SHOW
		MENUITEM "&Hide", ID_TOOLBOX_HIDE
	END
END

IDD_ABOUT DIALOG DISCARDABLE  0, 0, 289, 66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Memes"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&Finish viewing memes", IDOK, 174, 18, 100, 14
    PUSHBUTTON "&I do not like memes", IDCANCEL, 174, 35, 100, 14
    GROUPBOX "Memes in this box...", IDC_STATIC, 7, 7, 275, 52
    CTEXT "Here are\r\nsome\r\nmemes.", IDC_STATIC, 16, 18, 144, 33
END

IDD_TOOLBOX DIALOGEX 0, 0, 98, 52
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Toolbox"
FONT 8, "MS Sans Serif"
BEGIN
	PUSHBUTTON "&First button", IDC_TOOLBOX_FIRST_BUTTON, 7, 7, 84, 14
	PUSHBUTTON "&Second button", IDC_TOOLBOX_SECOND_BUTTON, 7, 31, 84, 14
END